.header {
  background-image: url('./images/restaurant.jpg');
  padding-top: 3rem;
  padding-bottom: 12rem;
  background-size: cover;
  background-position: left center;
  position: relative;
  height: 500px;
  display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.card-data {
  margin-top: 50px;
} 

label {
  margin: 0!important;
}